<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
  <connectionStrings>
    <add name="ChinookContext" connectionString="Data Source=.\DemoDB.db;" providerName="System.Data.SQLite"/>
  </connectionStrings>
  
</configuration>